#deps
node_modules/
client/node_modules/
server/node_modules/

#env variables
.env
client/.env
server/.env

#IDE files
.vscode/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.githooks/ 
